body{
  font-family: sans-serif;
}
h1{
  background-color: #ea5169;
  text-align: center;
}
p{
  text-align: center;
}

.gallary {
  display: grid;
  grid-template: 100% / 33% 33% 33%;

}

h2 {
  text-align: center;
}
